@import url("./icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-darkGray;
  }

  .normal-transition {
    @apply transition-all duration-200;
  }
}

:root {
  --header-height: 6rem;
}

.header-height {
  height: var(--header-height);
}

.min-content-height {
  min-height: calc(100vh - var(--header-height));
}

.text-hash {
  word-break: break-word;
}

.qrcode-btn {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 4px;
}

.qrcode-btn:disabled {
  color: black;
  cursor: not-allowed;
  background-color: #8080806b;
  padding: 4px;
}


.swiper{
 margin-left: initial !important;
 margin-right: initial !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #070707;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-moz-scrollbar-thumb:hover {
  background: #070707;
  width: 8px;
}